<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure Task Manager</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <% if (flashMessage) { %>
        <div id="flash-message" class="flash">
            <%= flashMessage %>
        </div>
    <% } %>

    <div class="container">
        <%- body %>
    </div>

    <script src="/js/flash.js"></script>
</body>
</html>